<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local packages folder checked first -->
    <add key="Local" value="..\packages" />
    <!-- Fallback to NuGet.org if not found locally -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="DotNetNuke.*" />
      <package pattern="Microsoft.AspNet.*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Newtonsoft.*" />
    </packageSource>
    <packageSource key="Local">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
